In [ ]:
import sys
import os
import requests
import pandas as pd
import re

data = pd.read_csv('../data/movies_data.csv')

#df['year'] = df['title'].apply(
#    lambda x: x[-5:-1]).convert_dtypes()
#df['title'] = df['title'].apply(lambda x: x[0:-7])

#df.head()
#df['year']

# first, strip extra spaces
data['title'] = data['title'].str.rstrip()
data['title'] = data['title'].str.lstrip()
#print(f'Stripped trailing space: \n{data.head(2)}')
# pull year from title
data['year'] = data['title'].apply(
    lambda x: x[-5:-1])
#print(f'Stripped year from title: \n {data.head(2)}')
# data['year'] = data['year'].astype(int)
# print(data.head(2))
# data['title'] = data['title'].apply(lambda x: x[0:-7])
# print(data.head(2))


data['title'].head()

0                      Toy Story (1995)
1                        Jumanji (1995)
2               Grumpier Old Men (1995)
3              Waiting to Exhale (1995)
4    Father of the Bride Part II (1995)
Name: title, dtype: object

In [ ]:
testVar = False

for i in range(1, len(data), 1):
    #data['title'][1][0] # record id 1, char 0
    if data['title'][i][0] == ' ' or data['title'][i][-1] == ' ':
        print(data['title'])

')'

In [25]:
for n in range(12, 312, 13):
    print(f'A{n}, ')

A12,
A25,
A38,
A51,
A64,
A77,
A90,
A103,
A116,
A129,
A142,
A155,
A168,
A181,
A194,
A207,
A220,
A233,
A246,
A259,
A272,
A285,
A298,
A311,

In [3]:
movieMatches = []
matchIDs = []

if ',' in 'Go west, young, john.':
    print("true")
else:
    print('false')

count = 0

stringy = 'toy, young, john'
stringlist = stringy.split(',')
string = 'Toy'
for item in string:
    for i in range(len(df['title'])):
        if item.lower() in df['title'][i].lower():
            movieMatches.append(df['title'][i])
            matchIDs.append(df['movieId'][i])
            #print(df['title'][i])
            count += 1

# for i in range(len(df['title'])):
#     if 'toy' in df['title'][i].lower():
#         # movieMatches.append(df['title'][i])
#         print(df['title'][i])
#         count += 1

print(count)
#movieMatches

df.loc[df['year'] == '2002']

# how to recognize it's a year
test1 = '2002'
test2 = 'Meet The Robinsons'
test3 = '2025f'
test4 = 'meet'

#print(re.search('[0-9][0-9][0-9][0-9]', test2) == None)
# a year will have: length 4, all numbers.
def checkNum(string):
    return len(string) == 4 and re.search('[0-9][0-9][0-9][0-9]', string) is not None

checkNum('2')

#print(type(re.search('[0-9][0-9][0-9][0-9]', test2))) #if true, returns match object, else class NoneType

initial_rec = df['title'].sample(n=10).tolist()

base_case_id = df.loc[df['title'] == initial_rec[2-1]]['movieId']

true
44041

In [17]:
initial_rec = df['title'].sample(n=10).tolist()

base_case_year = df.loc[df['title'] == initial_rec[2-1]]['year'].iloc[0]
#base_case_year

recommendations = df.loc[df['year'] == base_case_year]

df['year']

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
27273    2007
27274    2002
27275    2014
27276    2001
27277    2014
Name: year, Length: 27278, dtype: object