# Step 1: Creating and Manipulating Data Frames

### Task 1.1: Creating a DataFrame

 Here is the code to use for `df1`:
 ```
 [
    {'name': 'Alice', 'age': None, 'city': 'New York'},
    {'name': 'Bob', 'age': 26, 'city': 'Los Angeles'},
    {'name': 'Oliver', 'age': None, 'city': 'Salt Lake'}
]
```
Here is the code for `df2`:
```
[
    {'name': 'Charlie', 'age': 35, 'city': 'Chicago'},
    {'name': 'Diana', 'age': 82, 'city': 'Miami'}
]
```

In [4]:
# Import pandas
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame(columns=['Name', 'Age', 'City'])
df1Data = [
    {'name': 'Alice', 'age': None, 'city': 'New York'},
    {'name': 'Bob', 'age': 26, 'city': 'Los Angeles'},
    {'name': 'Oliver', 'age': None, 'city': 'Salt Lake'}
]
df1 = pd.DataFrame(df1Data)

df2 = pd.DataFrame(columns=['Name', 'Age', 'City'])
df2Data = [
    {'name': 'Charlie', 'age': 35, 'city': 'Chicago'},
    {'name': 'Diana', 'age': 82, 'city': 'Miami'}
]
df2 = pd.DataFrame(df2Data)

# Display DataFrames
df1
df2

      name  age     city
0  Charlie   35  Chicago
1    Diana   82    Miami

### Task 1.2: Combine DataFrames

In [5]:
# Combine DataFrames
combined_df = pd.concat([df1, df2])

# Display the combined DataFrame
combined_df

      name   age         city
0    Alice   NaN     New York
1      Bob  26.0  Los Angeles
2   Oliver   NaN    Salt Lake
0  Charlie  35.0      Chicago
1    Diana  82.0        Miami

### Task 1.3: Reset the Index

In [6]:
# Reset the index
combined_df.reset_index(drop=True, inplace=True)

# Display the new DataFrame
combined_df

      name   age         city
0    Alice   NaN     New York
1      Bob  26.0  Los Angeles
2   Oliver   NaN    Salt Lake
3  Charlie  35.0      Chicago
4    Diana  82.0        Miami

### Task 1.4: Fill in Missing Values

In [38]:
# Calculate the median of the 'age' column
dfMedian = combined_df.median(numeric_only=True)

# Fill in missing values in the 'age' column with the median age
#print(combined_df[pd.isnull(combined_df.age)])
#combined_df[pd.isnull(combined_df.age)] = dfMedian
#combined_df.age.fillna(dfMedian)
#combined_df = combined_df.fillna(dfMedian)

combined_df
# Print the DataFrame to verify the missing values are filled




# Calculate the median of the 'age' column
dfMedian = combined_df.median(numeric_only=True)

# Fill in missing values in the 'age' column with the median age
combined_df.fillna(dfMedian, combined_df['age'])

# Print the DataFrame to verify the missing values are filled
combined_df

age    26.0
dtype: float64

      name   age         city
0    Alice   1.0     New York
1      Bob  26.0  Los Angeles
2   Oliver   1.0    Salt Lake
3  Charlie  35.0      Chicago
4    Diana  82.0        Miami

In [40]:
# Calculate the median of the 'age' column
median_age = combined_df['age'].median()

# Fill in missing values in the 'age' column with the median age
combined_df['age'].fillna(value=median_age, inplace=True)

# Display the DataFrame
combined_df

C:\Users\K\AppData\Local\Temp\ipykernel_6636\1871075267.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df['age'].fillna(value=median_age, inplace=True)

      name   age         city
0    Alice   1.0     New York
1      Bob  26.0  Los Angeles
2   Oliver   1.0    Salt Lake
3  Charlie  35.0      Chicago
4    Diana  82.0        Miami

# Step 2: Working with JSON and CSV Files

### Task 2.1: Load the CSV file into a DataFrame

In [39]:
# Import pandas
import pandas as pd
# Load the CSV file into a DataFrame
student_scores = pd.read_csv('Student Scores.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Student Scores.csv'

### Task 2.2: Examine the DataFrame

In [ ]:
# Display the metadata of the DataFrame
student_scores.head(5)

### Task 2.3: Convert the DataFrame to a JSON file

In [ ]:
# Convert the DataFrame to a JSON file
df_json_data = pd.read_json('../data/example-1.json')

# Step 3: Exploring and Evaluating Data

### Task 3.3: Get Statistical Properties

In [ ]:
# Get statistical properties

df_corr = df_yeast.corr(numeric_only=True)